/* Remove the default WooCommerce styles and add custom styles, also that there is 3 products showcased in each line and then it breaks */

/* Remove the default WooCommerce styles */
.woocommerce ul.products li.product {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}


.products-columns-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}