/* Remove the default WooCommerce styles and add custom styles, also that there is 3 products showcased in each line and then it breaks */

/* Remove the default WooCommerce styles */
.woocommerce ul.products li.product {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}


.products-columns-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.woocommerce ul.products li.product a img {
    max-width: 100%;
    height: auto;
    width: 0% !important;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;

}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}


.woocommerce-loop-product__title {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.price {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f7f7f7; 
    border: 2px solid #ff9800; 
    border-radius: 8px; 
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}