/* Remove the default WooCommerce styles */
.products {
    display: flex;
    flex-wrap: wrap;
}


.woocommerce ul.products li.product {
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 50px;
    margin-bottom: 30px; 
    list-style: none; 
}
.woocommerce .products ul, .woocommerce ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.woocommerce ul.products li.product a img {
    max-width: 100%;
    height: auto;
    margin: 0 0 1em;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.attachment-woocommerce_thumbnail size-woocommerce_thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;

}


.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #BCA47C;
    max-width: 600px;
}

.price {
    display: block;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border: 2px solid #B3CDD8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px auto;
    width: fit-content; 
}

/* Ensure the 'Add to Cart' button is visible and clickable */
.woocommerce ul.products li.product .button {
    display: block;
    margin: 10px auto; 
    padding: 10px 20px;
    background-color: #0F3947;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.woocommerce ul.products li.product .button:hover {
    background-color: #001f2c;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
    color: #BCA47C !important;
}

.page-title {
    font-size: 2em;
    margin-top: 15px;
    padding: 0;
    text-align: center;
    font-family : "Playfair", serif;
}
.woocommerce .woocommerce-result-count {
    font-size: 1.5em;
    margin: 0 0 1em;
    padding-left: 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    font-family : "Playfair", serif;

}

.woocommerce .woocommerce-ordering {
    padding-right: 25px;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt {
    background-color: #0F3947;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:hover {
    background-color: #001f2c;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .stock {
    color: #BCA47C;
}

.woocommerce div.product div.summary {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.woocommerce-tabs wc-tabs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.woocommerce div.product .woocommerce-tabs .panel {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    text-align: center; 
    padding: 15px; 
    max-width: 800px; 
    margin: 0 auto; 

}

.woocommerce div.product .woocommerce-tabs .panel ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.woocommerce div.product .woocommerce-tabs .panel li {
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: left;
}